.card {
    border: 1px solid #32d9a9;
    margin-bottom: 1rem;
}

.border-primary {
    border-color: #32d9a9 !important;
}
  
.tarjeta-grande {
    max-width: 25rem; /* ajusta el ancho máximo según tus necesidades */
}

.card-tarjeta {
    height: 100%;
}

.card-title {
    color: #32d9a9;
}