.navbar {
  opacity: 0.9;
  font-family: 'Prompt', sans-serif;
}

.navbar .nav-item .nav-link {
  color: #000000;
  font-family: 'Prompt', sans-serif;
}

.main-header {
  position: relative;
  background-size: cover;
  min-height: 550px;
  font-family: 'Ubuntu', sans-serif;
  --l0: calc(100% - 1px), #fff;
  --l1: 0% 25%, #0000 0% 50%;
  --g: repeating-conic-gradient(#fff var(--l1));
  background: var(--g), radial-gradient(closest-side, transparent var(--l0)), linear-gradient(90deg, rgba(0, 0, 0, 0) 0 25%, currentcolor 0 75%, #5da6d7 0), repeating-conic-gradient(#85d997 var(--l1)), var(--g), radial-gradient(closest-side, currentcolor var(--l0));
  background-size: 9.375em 9.375em, 4.6875em 4.6875em, 9.375em, 18.75em 18.75em, 0.75em 0.75em, 0.375em 0.375em;
  color: #31334a;
}

.background-overlay {
  background: rgba(31, 17, 52, 0.7);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.btn.btn-outline-secondary.btn-lg.text-white:hover {
  background-color: #31334a;
  color: #fff;
}  

.form-control, .btn {
  border-radius: 0;
  font-family: 'Prompt', sans-serif;
}

.team, footer {
  background: #31334a;
  font-family: 'Prompt', sans-serif;
}

#img {
  width: 120px;
}

#ul {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1em;
  margin-left: auto;
}

#div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#h1 {
  font-size: 70px;
  font-family: 'Dancing Script', cursive;
}

body {
  background-color: #31334a;
}

#btn {
  background-color: #fff;
  color: #31334a;
}

#btn:hover {
  background-color: #31334a;
  color: #fff;
}

.active:hover {
  border-bottom: 2px solid #31334a;
  transition: border-bottom 2s ease-in-out;
}

i {
  color: #31334a;
}
